<!-- sets a variable for a the 5 most recent posts of my default CMS blog -->
{% set blog_one_posts = blog_recent_posts('default', limit=5) %}

<!-- sets a variable for a the 5 most recent posts of blog id. You can find the blog id in the URL of the blog dashboard for a particular blog-->
{% set blog_two_posts = blog_recent_posts('72187612017', limit=5) %}  

<!-- combines the two variables into a single variable and sorts them by publish date. Please note the sort filter requires all three parameters -->
{% set all_posts = (blog_one_posts + blog_two_posts) | sort(true, false, 'publish_date')  %} 
<!-- loop through posts in custom all posts variable -->

{% set buttonText = module.button.text %}
{% set textColor = module.button.text_color %}
{% set bgColor = module.button.bg_color %}
{% set buttonNewtab = module.button.link.open_in_new_tab %}
{% set buttonNoFollow = module.button.link.no_follow %}

<div class="c-post-listing-section">
  <div class="c-post-listing">
{% for post in all_posts %}
    {% set title = post.title %}
    {% set category = post.tagNames | join(', ') %}
    {% set excerpt = post.post_summary | striptags %}
    {% set buttonAction = post.absolute_url %}

      <article class="c-post-listing--entry">
        <div class="c-news-snippet-section c-news-snippet-section--rounded">
          <h4 class="text-xl mb-8 underline mx-4" style="font-weight: 700">{{ category }}</h4>
          {% if post.featured_image %}
            <!-- Feature Image-->
            <div class="c-news-snippet--image">
              <a href="{{ buttonAction }}"
              {% if buttonNewtab %}target="_blank" {% endif %} {% if buttonNoFollow %}rel="nofollow" {% endif %}
              >
                <img src="{{ post.featured_image }}" class="w-full" alt="{{ post.featured_image_alt_text }}" />
              </a>
            </div>
          {% endif %}
          <h3 class="text-xl mt-8 mb-8 mx-4" style="font-weight: 700">{{ title }}</h3>
          <p class="mx-4">{{ excerpt }}</p>

          <div class="c-news-snippet--post-meta mx-4 my-2 flex flex-wrap justify-end" style="display:none;">
            <div class="c-news-snippet--author-name flex-auto">
              <small class="text-muted">{{ post.blog_post_author.display_name }}, {{ post.blog_post_author.bio }}</small>
            </div>
            <div class="c-news-snippet--post-date">
              <small class="text-muted">{{ post.publish_date_localized }}</small>
            </div>
          </div>
          

          <div class="c-news-snippet-section--button mt-8 mx-4">
            <a href="{{ buttonAction }}"
              style="color: rgba({{ textColor.color|convert_rgb }}, {{ textColor.opacity / 100 }}); background: rgba({{ bgColor.color|convert_rgb }}, {{ bgColor.opacity / 100 }});"
              {% if buttonNewtab %}target="_blank" {% endif %} {% if buttonNoFollow %}rel="nofollow" {% endif %}
              class="c-button bg-white">
              {{ buttonText }}
            </a>
          </div>
        </div>
      </article>

  {% endfor %}
  </div> 
</div> 