<div class="heading-title">
  <p class="title">
    {{ module.title }}
  </p>
  <p class="content">
    {{ module.content }}
  </p>
</div>
<div class="clients-promo-carousel">
    {% for item in module.promo_repeater %}
    <div class="swiper-slide">
      {% if item.promo_image.src %}
      {% set sizeAttrs = 'width="{{ item.promo_image.width }}" height="{{ item.promo_image.height }}"' %}
      {% if item.promo_image.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ item.promo_image.width }}" height="{{ item.promo_image.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif item.promo_image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ item.promo_image.max_width }}" height="{{ item.promo_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = item.promo_image.loading != 'disabled' ? 'loading="{{ item.promo_image.loading }}"' : '' %}
      <img src="{{ item.promo_image.src }}" alt="{{ item.promo_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      {% endif %}
    </div>
    {% endfor %}
</div>