<div class="container">
  <div class="qr-code-section" style="{{ module.qr_code.spacing_field.css }}">
    <!-- QR Code Image -->
    <div class="qr-code-svg">
      {% if module.qr_code_image.src %}
      {% set sizeAttrs = 'width="{{ module.qr_code_image.width }}" height="{{ module.qr_code_image.height }}"' %}
      {% if module.qr_code_image.size_type == 'auto' %}
      {% set sizeAttrs = 'width="{{ module.qr_code_image.width }}" height="{{ module.qr_code_image.height }}" style="max-width: 100%; height: auto;"' %}
      {% elif module.qr_code_image.size_type == 'auto_custom_max' %}
      {% set sizeAttrs = 'width="{{ module.qr_code_image.max_width }}" height="{{ module.qr_code_image.max_height }}" style="max-width: 100%; height: auto;"' %}
      {% endif %}
      {% set loadingAttr = module.qr_code_image.loading != 'disabled' ? 'loading="{{ module.qr_code_image.loading }}"' : '' %}
      <a href="{{ module.mobile_cta.url.href }}" {% if module.mobile_cta.open_in_new_tab %}target="_blank"{% endif %} 	{% if module.mobile_cta.rel %}rel="{{ module.mobile_cta.rel }}"{% endif %}>
        <img src="{{ module.qr_code_image.src }}" alt="{{ module.qr_code_image.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
      </a>
      {% endif %}
    </div>
    <!-- QR Block Content -->
    <div class="qr-content-text">
      <p class="qr-title" style="color:{{ module.title_color.color }};">{{ module.qr_code_title }}</p>
      <div class="text-block" style="color:{{ module.content_color.color }};">
        {{ module.qr_code_content }}
      </div>
    </div>

    <!-- MOBILE CTA BUTTON -->
    {% set href = module.mobile_cta.url.href %}
    <a href="{{ href }}" class="features-general-button mobile-btn" style="background: {{ module.mobile_cta_background_color.color }}" {% if module.mobile_cta.open_in_new_tab %}target="_blank"{% endif %} 	{% if module.mobile_cta.rel %}rel="{{ module.mobile_cta.rel }}"{% endif %}>
      <div class="inner-button-content">
        <span style="color: {{ module.mobile_cta_text_color.color }}">{{ module.mobile_cta_text }}</span>
        <!-- ARROW RIGHT-->
        <svg width="10" height="17" viewBox="0 0 10 17" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M1.25781 15.6387L8.60528 8.29121L1.25781 0.943739" stroke="white" stroke-width="1.88935" stroke-linecap="round"/>
        </svg>
      </div>
    </a>
    <!-- end MOBILE CTA BUTTON -->
  </div>
</div>