<div class="chat-expert-block" style="{{ module.style.spacing_field.css }}; {% if module.style.align_center %}margin: 0 auto;{% endif %} max-width: {{ module.container_width }};">
  <div class="chat-heading">
    {{ module.heading }}
  </div>

  <!-- Button CTA Nav Item Six -->
  <div class="chat-button-expert">
    {% set href = module.book_demo_button.url.href %}
    {% if module.book_demo_button.url.type is equalto "EMAIL_ADDRESS" %}
    {% set href = "mailto:" + href %}
    {% endif %}
    <a href="{{ href }}"
       {% if module.book_demo_button.open_in_new_tab %}target="_blank"{% endif %}
       {% if module.book_demo_button.rel %}rel="{{ module.book_demo_button.rel }}"{% endif %}
       >
      <div class="nav-wrapper">  
        <div class="left-content">
          <!-- Icon -->
          {% if module.person.src %}
          {% set sizeAttrs = 'width="{{ module.person.width }}" height="{{ module.person.height }}"' %}
          {% if module.person.size_type == 'auto' %}
          {% set sizeAttrs = 'width="{{ module.person.width }}" height="{{ module.person.height }}" style="max-width: 100%; height: auto;"' %}
          {% elif module.person.size_type == 'auto_custom_max' %}
          {% set sizeAttrs = 'width="{{ module.person.max_width }}" height="{{ module.person.max_height }}" style="max-width: 100%; height: auto;"' %}
          {% endif %}
          {% set loadingAttr = module.person.loading != 'disabled' ? 'loading="{{ module.person.loading }}"' : '' %}
          <img src="{{ module.person.src }}" alt="{{ module.person.alt }}" {{ loadingAttr }} {{ sizeAttrs }}>
          {% endif %}
          <!-- Content -->
          <p>
            {{ module.chat_title }}
          </p>
        </div>
        <span class="nav-btn">
          {{ module.book_demo_label }}
        </span>
      </div>
    </a>
  </div>
</div>