<div class="color-section">
  <div id="newsletter-section" class="newssletter-block-main section-offset panel" data-color="blue">
    <div class="container">
      <div class="newssletter-block-inner">
        <div class="newssletter-top-row">
          <div class="newssletter-text" data-aos="fade-up">
            <img loading="lazy" src="{{ module.newsletter.image1.src }}" alt="{{ module.newsletter.image1.alt }}">
          </div>
          <div class="newssletter-text-border" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-1.svg" alt="Border Line" class="desktop-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-1-tab.svg" alt="Border Line" class="tab-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-1-mob.svg" alt="Border Line" class="mobile-img">
          </div>
        </div>
        <div class="newssletter-row-2">
          <div class="newssletter-10x" data-aos="fade-up">
            <img loading="lazy" src="{{ module.newsletter.image2.src }}" alt="10x higher opening rate than E-Mail" width="300" height="300">
          </div>
          <div class="newssletter-10x-border" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-2.svg" alt="10x higher opening rate than E-Mail" class="desktop-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-2-tab.svg" alt="10x higher opening rate than E-Mail" class="tab-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-2-mob.svg" alt="10x higher opening rate than E-Mail" class="mobile-img">
          </div>
        </div>
        <div class="newssletter-row-3">
          <div class="newssletter-10-border" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-3.svg" alt="10% off" class="desktop-img">
            <img loading="lazy" loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-3-tab.svg" alt="10% off" class="tab-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-3-mob.svg" alt="10% off" class="mobile-img">
          </div>
          <div class="newssletter-10 mobile-heading" data-aos="fade-up" data-heading="From your Website into WhatsApp">
            <div id="snoks-box">
              {% if module.newsletter.lottie1 and module.newsletter.lottie1|length %}
                <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.newsletter.lottie1 }}" {% if module.newsletter.lottie1_loop_start and module.newsletter.lottie1_loop_end %}data-loop="[[0,{{ module.newsletter.lottie1_loop_end }}],[{{ module.newsletter.lottie1_loop_start }},{{ module.newsletter.lottie1_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>

            <div class="whatsapp-detail-info">
              <h5>{{ module.newsletter.subtitle1 }}</h5>
              <div class="form-block">
                <div>
                  {{ module.newsletter.subtext1 }}
                </div>
              </div>
            </div>
          </div>
        </div>

        <div class="newssletter-row-4">
          <div class="mobile-img" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-3-new-mob.svg" alt="border-3">
          </div>
          <div class="snocks-phone-1 mobile-heading" data-aos="fade-up" data-heading="GDPR conform Opt-In Collection">
            <div id="phone-1">
              {% if module.newsletter.lottie2 and module.newsletter.lottie2|length %}
              <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.newsletter.lottie2 }}" {% if module.newsletter.lottie2_loop_start and module.newsletter.lottie2_loop_end %}data-loop="[[0,{{ module.newsletter.lottie2_loop_end }}],[{{ module.newsletter.lottie2_loop_start }},{{ module.newsletter.lottie2_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
            <div class="whatsapp-detail-info">
              <h5>{{ module.newsletter.sub_title2 }}</h5>
              <div class="form-block">
                <div>{{ module.newsletter.sub_text2 }}</div>
              </div>
            </div>
          </div>
        </div>

        <div class="newssletter-row-5">
          <div class="create-border" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-4.svg" alt="Create audience" class="desktop-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-4-tab.svg" alt="Create audience" class="tab-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-4-mob.svg" alt="Create audience" class="mobile-img">
          </div>

          <div class="create-audience-img mobile-heading" data-aos="fade-up" data-heading="Like E-Mail lists, just better.">
            <div id="create-audience-diagram">
              {% if module.newsletter.lottie3 and module.newsletter.lottie3|length %}
                <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.newsletter.lottie3 }}" {% if module.newsletter.lottie3_loop_start and module.newsletter.lottie3_loop_end %}data-loop="[[0,{{ module.newsletter.lottie3_loop_end }}],[{{ module.newsletter.lottie3_loop_start }},{{ module.newsletter.lottie3_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
            <div class="audience-main-block">
              <div class="audience-border">
                <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-5.svg" alt="Like E-Mail lists" class="desktop-img">
                <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-5-tab.svg" alt="Like E-Mail lists" class="tab-img">
                <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-5-mob.svg" alt="Like E-Mail lists" class="mobile-img">
              </div>
              <div class="whatsapp-detail-info">
                <h5>{{ module.newsletter.sub_title3 }}</h5>
                <div class="form-block">
                  <div >{{ module.newsletter.sub_text3 }}</div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="newssletter-row-6">
          <div class="campaigns-border-form">
            <div class="campaigns-border" data-aos="fade-up">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-6.svg" alt="Campaigns Border" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-6-tab.svg" alt="Campaigns Border" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-6-mob.svg" alt="Campaigns Border" class="mobile-img">
            </div>
            <div class="whatsapp-detail-info" data-aos="fade-up">
              <h5>{{ module.newsletter.sub_title4 }}</h5>
              <div class="form-block">
                <div>{{ module.newsletter.sub_text4 }}</div>
              </div>
            </div>
          </div>
          <div class="campaigns-img mobile-heading" data-aos="fade-up" data-heading="Send out campaigns">
            <div id="campaigns-diagram">
              {% if module.newsletter.lottie4 and module.newsletter.lottie4|length %}
                <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.newsletter.lottie4 }}" {% if module.newsletter.lottie4_loop_start and module.newsletter.lottie4_loop_end %}data-loop="[[0,{{ module.newsletter.lottie4_loop_end }}],[{{ module.newsletter.lottie4_loop_start }},{{ module.newsletter.lottie4_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
          <div class="campaigns-text-box">
            <h2>{{ module.newsletter.campaign_text }}</h2>
          </div>
        </div>
        <div class="newssletter-row-7">
          <div class="audience-img mobile-heading" data-aos="fade-up" data-heading="Keep track of your conversions">
            <div id="audience-diagram">
              {% if module.newsletter.lottie5 and module.newsletter.lottie5|length %}
              <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.newsletter.lottie5 }}" {% if module.newsletter.lottie5_loop_start and module.newsletter.lottie5_loop_end %}data-loop="[[0,{{ module.newsletter.lottie5_loop_end }}],[{{ module.newsletter.lottie5_loop_start }},{{ module.newsletter.lottie5_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
          <div class="whatsapp-detail-info">
            <h5>{{ module.newsletter.sub_title5 }}</h5>
            <div class="form-block">
              <div >{{ module.newsletter.sub_text5 }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="sales-section" class="sales-flow-block section-offset panel" data-color="white">
    <div class="container">
      <div class="sales-flow-container">
        <div class="sales-flow-row-1">
          <div class="sales-flow-border-1" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-7.svg" alt="Sales Flow" class="desktop-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-7-tab.svg" alt="Sales Flow" class="tab-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-7-mob.svg" alt="Sales Flow" class="mobile-img">
          </div>
          <div class="sales-flow-text" data-aos="fade-up">
            <img src="{{ module.sales.sales_flow.src }}" alt="Sales Flow">
          </div>
        </div>
        <div class="sales-flow-row-2">
          <div class="sales-chat-conversion" data-aos="fade-up">
            <img src="{{ module.sales.chat_conversion.src }}" alt="{{ module.sales.chat_conversion.alt }}">
          </div>
        </div>
        <div class="sales-flow-row-3">
          <div class="salse-flow-marketing" >
            <div class="salse-flow-m-border" data-aos="fade-up">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-8.svg" alt="Sales Flow" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-8-tab.svg" alt="Sales Flow" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-8-mob.svg" alt="Sales Flow" class="mobile-img">
            </div>
            <div class="whatsapp-detail-info bl-font" data-aos="fade-up">
              <h5>{{ module.sales.sub_title1 }}</h5>
              <div class="form-block">
                <div>{{ module.sales.sub_content }}</div>
              </div>
            </div>
          </div>
          <div class="sales-flow-chat-marketing mobile-heading text-left dark-text" data-heading="Offer “Ask & Order” via WhatsApp" data-aos="fade-up">
            <div id="chat-marketing-sales">
              {% if module.sales.lottie1 and module.sales.lottie1|length %}
              <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.sales.lottie1 }}" {% if module.sales.lottie1_loop_start and module.sales.lottie1_loop_end %}data-loop="[[0,{{ module.sales.lottie1_loop_end }}],[{{ module.sales.lottie1_loop_start }},{{ module.sales.lottie1_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="sales-flow-row-4">
          <div class="complax-block-inner">
            <div class="complax-border-img" data-aos="fade-up">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-9.svg" alt="Sales Flow" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-9-tab.svg" alt="Sales Flow" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-9-mob.svg" alt="Sales Flow" class="mobile-img">
            </div>

            <div class="complax-img" data-aos="fade-up">
              <div id="complax-diagram">
                {% if module.sales.lottie2 and module.sales.lottie2|length %}
                <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.sales.lottie2 }}" {% if module.sales.lottie2_loop_start and module.sales.lottie2_loop_end %}data-loop="[[0,{{ module.sales.lottie2_loop_end }}],[{{ module.sales.lottie2_loop_start }},{{ module.sales.lottie2_loop_end }}]]"{% endif %}>
                {% endif %}
              </div>
            </div>
          </div>
        </div>

        <div class="sales-flow-row-5 mobile-heading text-left dark-text" data-heading="Send pre-assembled carts">
          <div class="form-services-block" data-aos="fade-up">
            <div id="form-services">
              {% if module.sales.lottie3 and module.sales.lottie3|length %}
              <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.sales.lottie3 }}" {% if module.sales.lottie3_loop_start and module.sales.lottie3_loop_end %}data-loop="[[0,{{ module.sales.lottie3_loop_end }}],[{{ module.sales.lottie3_loop_start }},{{ module.sales.lottie3_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
          <div class="whatsapp-detail-info bl-font" data-aos="fade-up">
            <h5>{{ module.sales.sub_title2 }} </h5>
            <div class="form-block">
              <div>{{ module.sales.sub_text2 }}</div>
            </div>
          </div>
        </div>
        <div class="sales-flow-row-6">
          <div class="abandoned-carts-border" data-aos="fade-up">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-10.svg" alt="Abandoned Carts Border" class="desktop-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-10-tab.svg" alt="Abandoned Carts Border" class="tab-img">
            <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-10-mob.svg" alt="Abandoned Carts Border" class="mobile-img">
          </div>
          <div class="sale-flow-abandoned-text" data-aos="fade-up">
            <h2>{{ module.sales.sales_abandoned_text }}</h2>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div id="service-section" class="services-flow section-offset panel" data-color="yellow">
    <div class="container">
      <div class="services-flow-container">
        <div class="service-row-1">
          <img src="{{ module.service.image1.src }}" alt="{{ module.service.image1.alt }}">
        </div>
        <div class="service-row-2">
          <div class="lifetime-top-row" data-aos="fade-up">
            <div class="life-time-border">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-11.svg" alt="Abandoned Carts Border" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-11-tab.svg" alt="Abandoned Carts Border" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-11-mob.svg" alt="Abandoned Carts Border" class="mobile-img">
            </div>
            <div class="life-value-block-main">
              <img src="{{ module.service.image2.src }}" alt="{{ module.service.image2.alt }}">
            </div>
            <div class="lifetime-bottom-row">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-12.svg" alt="Abandoned Carts Border" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-12-tab.svg" alt="Abandoned Carts Border" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-12-mob.svg" alt="Abandoned Carts Border" class="mobile-img">
            </div>
          </div>
        </div>

        <div class="your-purchase-row" data-aos="fade-up">
          <div class="your-info-box mobile-heading dark-text" data-heading="From QR Code to chat">
            <div id="your-info-dragram">
              {% if module.service.lottie1 and module.service.lottie1|length %}
              <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.service.lottie1 }}" {% if module.service.lottie1_loop_start and module.service.lottie1_loop_end %}data-loop="[[0,{{ module.service.lottie1_loop_end }}],[{{ module.service.lottie1_loop_start }},{{ module.service.lottie1_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
          <div class="whatsapp-detail-info bl-font">
            <h5>{{ module.service.sub_title1 }}</h5>
            <div class="form-block">
              <div>{{ module.service.sub_text1 }}</div>
            </div>
          </div>
        </div>
        <div class="service-row-3">
          <div class="help-text-info" >
            <div class="help-border">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-13.svg" alt="Abandoned Carts Border" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-13-tab.svg" alt="Abandoned Carts Border" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-13-mob.svg" alt="Abandoned Carts Border" class="mobile-img">
            </div>
            <div class="whatsapp-detail-info bl-font">
              <h5>{{ module.service.sub_title2 }}</h5>
              <div class="form-block">
                <div>{{ module.service.sub_text2 }}</div>
              </div>
            </div>
          </div>
          <div class="help-phone-img">
            <div id="help-info-diagram">
              {% if module.service.lottie2 and module.service.lottie2|length %}
              <img id="service-lottie2" class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.service.lottie2 }}" {% if module.service.lottie2_loop_start and module.service.lottie2_loop_end %} data-loop="[[0,{{ module.service.lottie2_loop_end }}],[{{ module.service.lottie2_loop_start }},{{ module.service.lottie2_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
        </div>
        <div class="service-row-4" >
          <div class="easy-reorder-block mobile-heading dark-text" data-heading="Help them right in the moment they need you">
            <div id="easy-reorder-diagram">
              {% if module.service.lottie3 and module.service.lottie3|length %}
              <img class="c-animation--player top-0 bottom-0 left-0 right-0" autoplay loop renderer="svg" mode="normal" src="{{ module.service.lottie3 }}" {% if module.service.lottie3_loop_start and module.service.lottie3_loop_end %}data-loop="[[0,{{ module.service.lottie3_loop_end }}],[{{ module.service.lottie3_loop_start }},{{ module.service.lottie3_loop_end }}]]"{% endif %}>
              {% endif %}
            </div>
          </div>
          <div class="easy-reorder-info">
            <div class="easy-reorder-border">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-14.svg" alt="Abandoned Carts Border" class="desktop-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-14-tab.svg" alt="Abandoned Carts Border" class="tab-img">
              <img loading="lazy" src="https://www.hello-charles.com/hubfs/advanced/border-14-mob.svg" alt="Abandoned Carts Border" class="mobile-img">
            </div>
            <div class="whatsapp-detail-info bl-font">
              <h5>{{ module.service.sub_title3 }}</h5>
              <div class="form-block">
                <div>
                  {{ module.service.sub_text3 }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
